@font-face {
    font-family: "Arial";
    src: url("/fonts/Arialm.ttf") format("truetype");
}

.wrapper {
    font-family: Arial, sans-serif;

    .wrapper__left {
        text-align: start;
        width: 16%;

        button {
            color: #252525;
            text-align: start;
            font-family: Arial;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        .left__add {
            display: flex;
            flex-direction: column;
            width: fit-content;
            gap: 26px;
            margin-bottom: 53px;

        }

        .left__resume {
            text-align: start;
            display: flex;
            flex-direction: column;
            width: fit-content;
            gap: 26px;
            margin-bottom: 69px;
        }

        .left__filters {
            button{
                padding: 12px 63px;
                border-radius: 3px;
                background: #0057FF;
                color: white !important;
                text-align: center;
                font-family: Arial;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }
        }
    }
}