    .button {
        border: none;
        cursor: pointer;
        padding: 9px 20px !important;
        border-radius: 5.292px;
        background: #0057FF;
        color: #FFF;
        font-size: 14.113px;
        font-family: Arial;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }