@font-face {
    font-family: "Arial";
    src: url("/fonts/Arialm.ttf") format("truetype");
}

.wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 23, 67, 0.8)), url(../../../public/images/main/back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 586px;
    width: 100.5%;

    .text {
        position: absolute;
        z-index: 6;
        top: 370px;
        left: 370px;
        display: flex;
        flex-direction: row;
        gap: 150px;
        text-align: center;

        div {
            display: flex;
            flex-direction: column;
            gap: 4px;

            p {
                font-family: Arial;
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: center;
                color: #ffffff;
                height: 0;

            }

            h2 {
                font-family: Arial;
                font-size: 32px;
                font-weight: 700;
                line-height: 70px;
                letter-spacing: 0em;
                text-align: center;
                color: #ffffff;
                height: 0;
            }
        }
    }

    .cercles {
        position: absolute;
        top: 350px;
        left: 332px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 90px;
        z-index: 5;
    }

    h1 {
        font-family: Arial;
        font-weight: 700;
        font-size: 58px;
        line-height: 66.69px;
        text-align: center;
        color: #ffffff;
        padding-top: 181px;
        z-index: 6;
        padding-top: 161px;
    }
}

.wave {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 148px;

    &__one {
        position: absolute;
        background: url(../../../public/images/main/wave.svg) repeat-x;
        width: 7000px;
        height: 106px;
        animation: waves 20s infinite linear;
    }

    &__two {
        background: url(../../../public/images/main/wave33.svg) repeat-x;
        width: 7000px;
        height: 106px;
        animation: waves2 15s infinite linear;

    }

    &__three {
        position: absolute;
        top: 0;
        background: url(../../../public/images/main/wave22.svg) repeat-x;
        width: 7000px;
        height: 106px;
        animation: waves2 10s infinite linear;


    }


}


@keyframes waves {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-969px);
        /* половина от -1938px */
    }

    100% {
        transform: translateX(-1938px);
    }
}

@keyframes waves2 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-940px);
        /* половина от -1880px */
    }

    100% {
        transform: translateX(-1880px);
    }
}

@media (max-width: 1024px) {
    .wrapper {
        height: 700px;
        width: 1300px;

        h1 {
            font-size: 58px;
        }


        .cercles {
            width: 690px;
            height: 205px;
            top: 430px;
        }

        .wave {
            top: 262px;
        }

        .text {
            gap: 171px;
            top: 455px;
            left: 335px;

            div {
                p {
                    font-size: 25px;
                }

                h2 {
                    font-size: 31px;

                }
            }
        }


    }
}


@media (max-width: 768px) {
    .wrapper {
        height: 572px;
        width: 941px;

        h1 {
            font-size: 50px;
        }

        .wave {
            top: 137px;
        }

        .bg {
            width: 122%;
        }

        .cercles {
            width: 316px;
            height: 180px;
            top: 350px;
        }

        .text {
            gap: 156px;
            top: 370px;
            left: 159px;

            div {
                p {
                    font-size: 28px;
                }

                h2 {
                    font-size: 24px;

                }
            }
        }

    }
}