@font-face {
    font-family: "Arial";
    src: url("/fonts/Arialm.ttf") format("truetype");
}

.wrapper {
    border-radius: 8.821px;
    background: #FFF;
    box-shadow: 0px 3.9923593997955322px 19.9617977142334px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 20px 10px 20px;
    
    img {
        cursor: pointer;
    }
    
    .wrapper__bottom {
        font-family: Arial,sans-serif;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .button {
            border: 0.882px solid #0057FF;
            text-transform: capitalize;
            padding: 9px 20px;
            border-radius: 5.292px;
            background: #0057FF;
            color: #FFF;
            font-size: 14.113px;
            font-family: Arial;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            box-shadow: none;

        }

        .button:active {
            color: #0057FF;
            border: 0.882px solid #0057FF;
            background: #FFF;
        }

        span {
            opacity: 0.5;
            color: rgba(51, 51, 51, 1);
            font-size: 11.977px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: lowercase;
        }
    }

    .wrapper__middle {
        h1 {
            color: #333;
            font-size: 22.763px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        span {
            opacity: 0.5;
            color: #333;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        p {
            margin-top: 15px;
            color: #0057FF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .wrapper__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        span {
            opacity: 0.5;
            color: #333;
            font-size: 11.977px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: lowercase;
        }

        .top__photo {
            label {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            p {
                color: #333;
                font-size: 13.801px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            img {
                margin-right: 5px;
            }
        }
    }
}