.bottom_filterbtn {
  position:relative;
  color: #0057FF;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #0057FF;
  background: #0057FF;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 12px 44px;
  line-height: normal;
 margin-top: 20px;
}
.vak {
  display: flex;
  gap: 71px;
  .vak_left{
    width: 20%;

  }
.vak_container{
  display: flex;
  flex-direction: column;
}
  .cont__coursesCard {
    margin-top: 45px;
    flex-shrink: 0;
    border-radius: 4.992px;
    background: #fff;
    box-shadow: 0px 3.9934492111206055px 29.9;
  }

  .vak__h1 {
    color: #252525;
    text-align: center;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 105px;
    margin-right: 213px;
  }
  .vak_wrap {
    display: flex;
    text-align: center;
    align-items: center;
    .vak_inp {
      width: 139px;
      height: 31px;
      flex-shrink: 0;
      border-radius: 3px;
      background: #0057ff;
      margin-top: 102.59px;
      p {
        color: #fff;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 6px;
      }
    }
    .vak_title {
      color: #252525;
      text-align: center;
      font-family: Arial;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 113.59px;
      margin-left: 90px;
    }
    .vak_inp1 {
      margin-top: 102.59px;
      margin-left: 32px;
      cursor: pointer;
      p {
        padding-top: 7px;
        color: #252525;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .vak_inp2 {
      margin-top: 102.59px;
      margin-left: 32px;
      cursor: pointer;
      p {
        padding-top: 7px;
        color: #252525;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .vak_inp3 {
      margin-top: 102.59px;
      margin-left: 32px;
      cursor: pointer;
      p {
        padding-top: 7px;
        color: #252525;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .active {
      text-align: center;
      align-items: center;
      width: 139px;
      height: 31px;
      flex-shrink: 0;
      border-radius: 3px;
      background: #0057ff;
      margin-top: 102.59px;
      margin-left: 32px;
      cursor: pointer;
      p {
        padding-top: 7px;
        color: #fff;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .active {
      margin-left: 37px;
      border-radius: 3px;
      background: #0057ff;
      margin-top: 102.59px;
      margin-left: 32px;
      height: 31px;
      width: 170px;
      cursor: pointer;
      p {
        padding-top: 7px;
        color: #fff;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .active {
      margin-left: 62px;
      margin-top: 102.59px;
      border-radius: 3px;
      background: #0057ff;
      margin-top: 102.59px;
      margin-left: 32px;
      height: 31px;
      width: 170px;
      cursor: pointer;
      P {
        padding-top: 7px;
        color: #fff;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
