.wrapper {
    margin-top: 39px;

    img {
        cursor: pointer;
        margin-left: 5px;

    }

    .wrapper_bottom {
        .bottom_filterbtn {
            color: #0057FF;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #0057FF;
            background: #0057FF;
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            padding: 12px 44px;
            line-height: normal;
            margin-top: 30px;
        }

        .bottom_filterbtn:active {
            border: 1px solid #0057FF;
            background: #FFF;
            color: #0057FF;
        }

        .bottom_podrobnosti {
            display: grid;
            margin-top: 25px;
            gap: 25px;

            .podrobnosti_title {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .podropbosti__buttons {
                    gap: 20px;
                    display: flex;
                    flex-direction: column;

                    #buttons_flexStart {
                        display: flex;
                        align-items: flex-start !important;

                        input {
                            margin-top: 2px;
                        }
                    }

                    label {
                        display: flex;
                        align-items: center;

                        input {
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            border-radius: 3px;
                            border: 0.5px solid #000;
                            background: #FFF;
                        }

                        span {
                            margin-left: 29px;
                            color: #252525;
                            text-align: start;
                            font-family: Arial;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }

                .title_label {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .wrapper_top {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .top_checkboxes {
            label {
                display: flex;

                input {
                    width: 20px;
                    height: 20px;
                    border-radius: 3px;
                    border: 0.5px solid #000;
                    background: #FFF;
                }

                span {
                    margin-left: 9px;
                    color: #252525;
                    text-align: center;
                    font-family: Arial;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}