@font-face {
    font-family: "Arial";
    src: url("/fonts/Arialm.ttf") format("truetype");
}

.menu {
    top: 20px !important;
    left: -135px !important;


    .disabled {
        background-color: black !important;
    }
}

.border {
    color: none;
}

.wrapper {
    font-family: Arial, sans-serif;

    .regions {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .wrapper__top {
        margin-bottom: 43px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .top__photo {
            nav{
                padding: 0px !important;
            }
            label {
                display: flex;
                align-items: center;
                cursor: pointer;

                :nth-child(1) {
                    display: flex;
                    gap: 5px
                }
            }
        }

        button {
            border: 1px solid;
            border-radius: 3px;
            background: #0075FF;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 10px 15px;
        }

        button:active {
            color: #0057FF;
            background: transparent;
            border: 1px solid #0057FF;
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
        }

        h1 {
            color: #333;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .wrapper__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px 30px;
    }

    button {
        cursor: pointer;
    }
}

.menu__content {
    padding: 24px 20px 19px 21px;
    display: grid;
    gap: 10px;
}
